.buttonHolder {
    text-align: center; 
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex; 
    justify-content: center; 
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}