
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Generator</title>
    <link rel="stylesheet" href="static/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel='icon' href='static/logo.png' type='image/x-icon'/ >
</head>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
<main id="app">
<body style="background-color: #c0d5d8;">
<div class="w3-display-middle"></div>
<h1 class="w3-jumbo w3-animate-top" style="padding-top: 100px;">Random Password Generator</h1>
<hr class="w3-border-grey" style="margin:auto;width:40%">
<div class="buttonHolder">
<form id="myForm">
    <label for="length">Password Length:</label><br>
    <input type="text" id="length" name="length" placeholder="8"><br>

    <input type="checkbox" id="specchar" name="specchar">
    <label for="specchar">Special Character's</label><br>

    <input type="checkbox" id="uppercase" name="uppercase">
    <label for="uppercase">Upper Case Character's</label><br>
    
    <input class="button" type="submit" value="Generate Password">
</form> 
<hr class="w3-border-grey" style="margin:auto;width:40%">
</div>
<div class='buttonHolder' id='hidden' style="display:none;">
    <h2>Password:</h2>
    <p id="password"></p>
    <!--<input type="text" id="password">-->
    <button class="button" onclick="CopyToClipboard('password')">Copy password</button>
</div>
</div>
</div>
</body>
</main>
<script>
    window.addEventListener( "load", function () {
  function sendData() {
    const XHR = new XMLHttpRequest();

    var urlEncodedDataPairs = [];

    var inputs = document.getElementById("myForm").elements;
    urlEncodedDataPairs.push(encodeURIComponent("length") + "=" + encodeURIComponent(inputs[0].value));
    urlEncodedDataPairs.push(encodeURIComponent("uppercase") + "=" + encodeURIComponent(inputs["uppercase"].checked));
    urlEncodedDataPairs.push(encodeURIComponent("specchar") + "=" + encodeURIComponent(inputs["specchar"].checked));

    // Bind the FormData object and the form element
    urlEncodedData = urlEncodedDataPairs.join( '&' ).replace( /%20/g, '+' );
    const FD = new FormData( form );

    // Define what happens on successful data submission
    XHR.addEventListener( "load", function(event) {
        document.getElementById("password").innerHTML = JSON.parse(event.target.responseText)["Password"]
      //alert( event.target.responseText );
    } );

    // Define what happens in case of error
    XHR.addEventListener( "error", function( event ) {
      alert( 'Oops! Something went wrong.' );
    } );

    // Set up our request
    XHR.open( "POST", "http://127.0.0.1:8002/password" );
    XHR.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");


    // The data sent is what the user provided in the form
    XHR.send(urlEncodedData);
  }
 
  // Access the form element...
  const form = document.getElementById( "myForm" );

  // ...and take over its submit event.
  form.addEventListener( "submit", function ( event ) {
    event.preventDefault();
    sendData();
    showDiv();
  } );
} );

function showDiv() {
   document.getElementById('hidden').style.display = "block";
};

function copyData() {
  /* Get the text field */
  var copyText = document.getElementById("password").value;

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /*For mobile devices*/

  /* Copy the text inside the text field */
  document.execCommand("copy");

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
};

function CopyToClipboard(containerid) {
  if (document.selection) {
    var range = document.body.createTextRange();
    range.moveToElementText(document.getElementById(containerid));
    range.select().createTextRange();
    document.execCommand("copy");
  } else if (window.getSelection) {
    var range = document.createRange();
    range.selectNode(document.getElementById(containerid));
    window.getSelection().addRange(range);
    document.execCommand("copy");
    alert("Text has been copied, now paste in the text-area")
  }
};

</script>
</html>